h2,
h6,
h4 {
    margin-top: auto;
}

h2 {
    color: #cc1c39;
}

h6 {
    color: lightslategrey;
}

.product {
    border: 1px solid #ececec;
    margin: 10px;
    padding: 10px;
    width: 17%;
    display: flex;
    flex-direction: column;
}

.product:hover {
    cursor: pointer;
}

button {
    margin-top: auto;
    width: 90%;
    height: 8%;
    align-self: flex-end;
    background-color: #f3d17b;
    border: none;
    outline: none;
    border-radius: 5px;
}

button:hover {
    background-color: #f1be3b;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #006bc4;
}

a:hover {
    text-decoration: underline;
}