.header img {
    width: 200px;
    cursor: pointer;
}

.header {
    text-align: center;
}

nav {
    background-color: #232f3e;
    line-height: 40px;
    text-align: left;
    font-size: 16px;
}

nav a,
.signout-btn {
    text-decoration: none;
    color: white;
    margin: 0px 30px;
    padding: 5px;
}

nav a:hover {
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
}

.signout-btn,
.signout-btn:hover {
    width: 10%;
    background-color: darkred;
}